@model Recipe



@{
    ViewData["Title"] = "Detail";

}

<h2>Recipe Detail</h2>


<img style="width: 200px; margin-top: 40px;" src="~/images/@Model.ImageName" />
<div style="display: inline-block; margin-left: 70px; margin-top: -200px;">
    <dl class="dl-horizontal">
        <dd style="font-size: 20px; ">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd style="font-size: 12px; ">
            @Html.DisplayFor(model => model.RecipeType)
        </dd>
        <br />
        <dd>
            <b>Cook Time</b> @Html.DisplayFor(model => model.CookTimeInMinutes) minutes
        </dd>
        <br />
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<br />

<h3>Ingredients</h3>

<div>

    <ul>
        @foreach (Ingredient item in Model.Ingredients)
        {

            <li> @item.Quantity @item.Name <br /></li>

        }
    </ul>

</div>
<h3>Preparations</h3>

<div>

    <ol>
        @foreach(string item in Model.PreparationSteps)
        {

            <li> @item<br /></li>

        }
    </ol>

</div>


@*<div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>*@
